[submodule "hestia"]
	path = hestia
	url = git@github.com:pku-liang/hestia.git
	branch = main
[submodule "hector"]
	path = hector
	url = git@github.com:pku-liang/Hector.git
	branch = tutorial-aspdac
[submodule "popa"]
	path = popa
	url = git@github.com:pku-liang/popa.git
	branch = mlir
[submodule "ksim"]
	path = ksim
	url = git@github.com:pku-liang/ksim.git
	branch = aspdac24-tutorial
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git
	branch = cbc378ecb87e3f31dd5aff91f2a621d500640412
[submodule "cmt2"]
	path = cmt2
	url = git@github.com:pku-liang/Cement.git
	branch = cmt2
